/* .clock {
  padding: 20px 30px;
}

.clock h1 {
  color: #2723f6;
  padding: 5px 20px;
}

.clock p {
  color: #29292b;
  padding: 0px 20px;
}

.clock h3 {
  color: #2714f6;
  padding: 10px 20px;
} */
